# Business Understanding

In the current business context, the expansion and proliferation of supermarkets within densely populated urban areas are on the rise. This growth is accompanied by heightened market competition among supermarkets. To gain valuable insights into the dynamics of this market and to make informed strategic decisions, a comprehensive analysis of historical sales data from a supermarket company is essential.

The dataset under consideration encompasses sales records spanning three months and is derived from three distinct branches of the supermarket company. This dataset is particularly conducive to the application of predictive data analytics methods, offering a valuable opportunity to forecast trends, identify patterns, and derive actionable insights. Understanding the business landscape, market trends, and consumer behavior through data analysis is imperative for staying competitive, optimizing operations, and making informed business decisions in the dynamic and competitive supermarket industry.

# Data Understanding

- Supermarket sales is one of the historical sales data for supermarket companies recorded in 3 different branches for 3 months in the 2019 period.
- Source Data : https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales/data
- The dataset has 17 columns and 1000 rows
- Attribute information :
    - Invoice id: Computer-generated sales slip invoice identification number.
    - Branch: Supercenter branches labeled as A, B, and C.
    - City: Location of the supercenters in different cities.
    - Customer type: Classification of customers into Members (those using a member card) and Normal (those without a member card).
    - Gender: Gender type of the customer.
    - Product line: General categorization of items, including Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel.
    - Unit price: Price of each product in dollars.
    - Tax: 5% tax fee applied to customer purchases.
    - Total: Total price, including tax.
    - Quantity: Number of products purchased by the customer.
    - Date: Date of purchase, recorded from January 2019 to March 2019.
    - Time: Purchase time, ranging from 10 am to 9 pm.
    - Payment: Payment method used by the customer for the purchase.
    - COGS (Cost of Goods Sold): The cost incurred by the supermarket in producing or purchasing the products sold.
    - Gross margin percentage: Percentage representing the gross margin.
    - Gross income: Gross income derived from sales.
    - Rating: Customer satisfaction rating on their overall shopping experience, measured on a scale of 1 to 10.

# Import Library

In [1]:
import pandas as pd

# Load Data

In [2]:
df = pd.read_csv('supermarket_sales.csv')

In [3]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

# Missing Value

In [5]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

Data is Clean

# Total Revenue

In [6]:
df.Total.sum()

322966.749

# Product Type

In [7]:
df['Product line'].nunique()

6

# Total Revenue Per Product Lines and City

In [8]:
group_1 = df.groupby(['Product line', 'City'])
total_revenue = group_1['Total'].sum()

In [9]:
total_revenue.sort_values(ascending=False)

Product line            City
Food and beverages      Naypyitaw    23766.8550
Home and lifestyle      Yangon       22417.1955
Fashion accessories     Naypyitaw    21560.0700
Sports and travel       Mandalay     19988.1990
Health and beauty       Mandalay     19980.6600
Sports and travel       Yangon       19372.6995
Electronic accessories  Naypyitaw    18968.9745
                        Yangon       18317.1135
Home and lifestyle      Mandalay     17549.1645
Food and beverages      Yangon       17163.1005
Electronic accessories  Mandalay     17051.4435
Health and beauty       Naypyitaw    16615.3260
Fashion accessories     Mandalay     16413.3165
                        Yangon       16332.5085
Sports and travel       Naypyitaw    15761.9280
Food and beverages      Mandalay     15214.8885
Home and lifestyle      Naypyitaw    13895.5530
Health and beauty       Yangon       12597.7530
Name: Total, dtype: float64

# Percentage Total Revenue Per Product Lines and City

In [10]:
total_revenue_percentage = total_revenue / total_revenue.groupby(level=0).transform('sum') * 100
total_revenue_percentage

Product line            City
Electronic accessories  Mandalay     31.380600
                        Naypyitaw    34.909526
                        Yangon       33.709874
Fashion accessories     Mandalay     30.223821
                        Naypyitaw    39.701160
                        Yangon       30.075019
Food and beverages      Mandalay     27.099351
                        Naypyitaw    42.331323
                        Yangon       30.569326
Health and beauty       Mandalay     40.616266
                        Naypyitaw    33.775286
                        Yangon       25.608448
Home and lifestyle      Mandalay     32.581770
                        Naypyitaw    25.798477
                        Yangon       41.619754
Sports and travel       Mandalay     36.261201
                        Naypyitaw    28.594194
                        Yangon       35.144605
Name: Total, dtype: float64

# Total Revenue Per Gender and Customer Type

In [11]:
group_2 = df.groupby(['Customer type', 'Gender'])
total_revenue_2 = group_2['Total'].sum()

In [12]:
total_revenue_2

Customer type  Gender
Member         Female    88146.9435
               Male      76076.5005
Normal         Female    79735.9815
               Male      79007.3235
Name: Total, dtype: float64

# Percentage Total Revenue Per Gender and Customer Type

In [13]:
# Calculate totals per Customer Type group
total_revenue_per_type = df.groupby('Customer type')['Total'].sum()

In [14]:
# Calculate the percentage per group
total_revenue_percentage = (total_revenue_2 / total_revenue_per_type) * 100

In [15]:
total_revenue_percentage

Customer type  Gender
Member         Female    53.675006
               Male      46.324994
Normal         Female    50.229508
               Male      49.770492
Name: Total, dtype: float64

# Distribution of Payment Types

In [16]:
group_3 = df.groupby('Payment')
total_id = group_3['Invoice ID'].count()

In [17]:
total_id

Payment
Cash           344
Credit card    311
Ewallet        345
Name: Invoice ID, dtype: int64

# Percentage Distribution of Payment Types

In [18]:
total_id_percentage = (total_id / total_id.sum()) * 100
total_id_percentage

Payment
Cash           34.4
Credit card    31.1
Ewallet        34.5
Name: Invoice ID, dtype: float64

# Total Sales by City

In [19]:
group_4 = df.groupby('City')
total_quantity = group_4['Quantity'].sum()

In [20]:
total_quantity.sort_values(ascending=False)

City
Yangon       1859
Naypyitaw    1831
Mandalay     1820
Name: Quantity, dtype: int64

# Percentage Total Sales by City

In [21]:
total_quantity_percentage = (total_quantity / total_quantity.sum()) * 100
total_quantity_percentage

City
Mandalay     33.030853
Naypyitaw    33.230490
Yangon       33.738657
Name: Quantity, dtype: float64